*{
    padding: 0;
    margin: 0;
    font-family: 'IRANSansX-Regular';
  
}
  
  
body{
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}
  
  nav{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,.3), rgba(0,0,0,.9)) , url(../axe/lap.jpg);
    object-fit: cover;
    background-size: cover;
    /* axe ro az vasat dar nazar migireh */
    background-position: center;
  }
  
  
  
  nav header{
    width: 80%;
    height: 100px;
    background-color: #6fc704;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(142, 142, 142, 0.9);
    transition: width .7s ease-in-out;
  }
  
  .sticky{
    position: fixed;
    /* top ro 0 dadi ta bayad kole safhe ro begireh */
    top: 0;
    width: 100%;
    border-radius: 0;
  }
  
  nav header .menu{
    width: 30%;
    height: 100%;
    padding: 0 30px;
  }
  
  nav header .menu ul{
    list-style: none;
    display: flex;
    width: 100%;
    /* height 100% dadi ta biad az pedar khodesh begireh vva ul ro biareh vasat */
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  
  nav header .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
  }
  
  
  header  .logo{
    width: 15%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  /* https://bennettfeely.com/clippy/ */
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  
  }
  
  header  .logo img{
    width: 80px;
  }
  
  
section{
  margin-top: 100px;
  color: #ccc;
  padding: 0 200px;
}
  
  
  
  
  
  
  
  
  